body {
  height: 100%;
  margin: 0;
  background-image: url("../pictures/pumpkin_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading {
  display: block;
  text-align: center;
}

.submitButton {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.header_image {
  height: 100px;
}

.navbar {
  width: 100%;
}

.navbar-nav {
  margin-left: auto;
}

#section_image {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  overflow: hidden;
}

.giphy-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px;
  border: 2px solid #ff6347;
  display: block;
  box-sizing: border-box;
}

.social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.social li {
  margin-right: 10px;
}
footer {
  text-align: center;
  background-color: orange;
}

.navbar-brand {
  margin-right: 0;
  display: flex;
}
